services:

  n8n:
    environment:
      - OLLAMA_HOST=ollama-cpu:11434

  n8n-import:
    environment:
      - OLLAMA_HOST=ollama-cpu:11434

  ollama-cpu:
    environment:
      - OLLAMA_HOST=0.0.0.0

  ollama-pull-llama-cpu:
    environment:
      - OLLAMA_HOST=ollama-cpu:11434
