services:
  n8n:
    environment:
      - OLLAMA_HOST=ollama-cpu:11434
      - QUEUE_HEALTH_CHECK_ACTIVE=true
    user: "root"
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:5678/healthz || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 300s

  n8n-import:
    environment:
      - OLLAMA_HOST=ollama-cpu:11434
    user: "root"
    restart: "no"

  ollama-cpu:
    environment:
      - OLLAMA_HOST=0.0.0.0

  ollama-pull-llama-cpu:
    environment:
      - OLLAMA_HOST=ollama-cpu:11434
    restart: "no"
