services:
  n8n:
    env_file: [] # <-- Disables .env for n8n (in Coolify only)
    environment:
      - OLLAMA_HOST=ollama-cpu:11434
    user: "root"
    ports: [] # <-- Closes the insecure 5678 port

  n8n-import:
    env_file: [] # <-- Disables .env for n8n-import (in Coolify only)
    environment:
      - OLLAMA_HOST=ollama-cpu:11434
    user: "root"
    restart: "no"
    volumes:
      # Custom path to access n8n starter-kit demo files:
      # - /data/coolify/applications/<YOUR_APP_UUID>/n8n/demo-data:/demo-data
      - /data/coolify/applications/ywkwg4g8go8s04o80c84w00o/n8n/demo-data:/demo-data

  qdrant:
    ports: [] # <-- Closes the insecure 6333 port

  ollama-cpu:
    environment:
      - OLLAMA_HOST=0.0.0.0
    ports: [] # <-- Closes the insecure 11434 port

  ollama-pull-llama-cpu:
    environment:
      - OLLAMA_HOST=ollama-cpu:11434
    restart: "no"
